// Landing page

header{
  .navbar{
    div{
      div{
        ul{
          li{
            a{
              color: tomato;
            }
          }
        }
      }
    }
  }
}

main{
  div{
    h1{
      font-size: 70px;
      text-align: right;
      font-weight: 700;
      font-family: sans-serif;
    }
    h3{
      text-align: right;
      font-size: 28px;
    }
  }
  div{
    div{
      display: flex;
      gap: 10px;
      justify-content: center;
      p{
        text-decoration: underline;
      }
    }
  }
  div{
    .galeria{
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
}

footer{
  div{
    margin-top: 500px;
    margin-bottom: 0;
    background-color: tomato;
    p{
      text-align: center;
      color: whitesmoke;
    }
  }
}