// Media query landing page

// Media query tablet
@media screen and (min-width:720px) {
  header{
    .navbar-edit{
      div{
        div{
          ul{
            li{
              a{
                display: none;
              }
            }
          }
        }
        button{
          display: none;
        }
      }
    }
  }
  main{
    div{
      .boton-contactar{
        margin-top: 32px;
      }
    }
    div{
      .galeria{
        margin-top: 36px;
        grid-template-columns: 300px 300px;
        gap: 20px;
        position: relative;
        left: 9px;
        .tarjeta-development, .tarjeta-design{
          height: 220px;
        }
        .tarjeta-about{
          margin-top: 18px;
          width: 200%;
          height: 60px;
          p{
            padding-top: 14px;
            padding-bottom: 8px;
          }
        }
      }
    }
    div{
      .subtitulo-developer{
        p{
          font-size: 39px;
        }
      }
      .galeria-developer{
        grid-template-columns: auto auto;
      }
    }
    div{
      .subtitulo-design{
        p{
          font-size: 40px;
          margin-bottom: 42px;
        }
      }
      .carousel-mod{
        div{
          width: 350px;
          div{
            img{
              height: 530px;
            }
          }
        }
      }
    }
    .galeria-about{
      div{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        div{
          .about-nombre{
            margin-bottom: 30px;
          }
          .about-text{
            text-align: justify;
            min-width: 400px;
          }
        }
        .about-botones{
          display: flex;
          margin-top: 42px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

// Media query desktop
@media screen and (min-width:1024px){
  main{
    div{
      h1{
        font-size: 94px;
      }
      h3{
        font-style: 32px;
      }
    }
    div{
      .boton-contactar{
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
    div{
      .galeria{
        grid-template-columns: 300px 300px 300px;
        padding-bottom: 50px;
        a{
          p{
            text-align: center;
          }
          img{
            width: 240px;
            border-radius: 12px;
          }
        }
        .tarjeta-development, .tarjeta-design, .tarjeta-about{
          height: 220px;
        }
        .tarjeta-about{
          margin-top: 0;
          width: 100%;
        }
      }
    }
    div{
      .galeria-developer{
        gap: 100px;
        a{
          .tarjeta-proyecto{
            height: 320px;
            width: 380px;
            img{
              height: 320px;
              width: 380px;
            }
          }
        }
      }
    }
    div{
      .carousel-mod{
        div{
          width: 550px;
        }
      }
    }
    .galeria-about{
      grid-template-columns: auto auto;
      margin-left: 200px;
      margin-right: 200px;
    }
  }
}